{% extends "base.html" %}

{% block content %}
    <h2>{{ project.title }}</h2>
    <button class="link" hx-post="/del/project/{{ project.slug }}" style="color:red" hx-target="#del-err">Delete This Project</button>
    <p id="del-err"></p>
    <img src="/uploads/{{ username }}/{{ project.slug }}/thumb.webp" alt="project thumbnail" height="150px">
    <br>
    <a href="/new/log/{{ project.slug }}">New Log</a>
    <div class="log-list">
        {% for log in logs %}
        <a class="log-listing" href="/project/{{ project.slug }}/{{ log.number }}">
            <p>Log: </p>
            <p>{{ log.title }}</p>
        </a>
        {% else %}
        <p>So empty... Get chopping!</p>
        {% endfor %}
    </div>
{% endblock %}