{% extends "base.html" %}

{% block content %}
    <div style="display:flex;flex-direction:row;gap:1rem;">
        <img src="/uploads/{{ username }}/{{ project.slug }}/thumb.webp" alt="project thumbnail" class="view-project-thumb">
        <div>
            <h2>{{ project.title }}</h2>
            <span class="date">Created on: <span unix-utc="{{ project.created_on }}" hx-on:load="renderCreatedOn(this)"></span></span>
        </div>
    </div>
    <a href="/new/log/{{ project.slug }}">New Log</a>
    <hr>
    <div class="log-list">
        {% for log in logs %}
        <a class="log-listing" href="/project/{{ project.slug }}/{{ log.number }}">
            <p>Log {{ log.number }}: </p>
            <p>{{ log.title }}</p>
        </a>
        {% else %}
        <p>So empty... Get chopping!</p>
        {% endfor %}
    </div>
    <hr>
    <button class="link" hx-post="/del/project/{{ project.slug }}" style="color:red" hx-target="#del-err" hx-confirm="Are you sure?">Delete This Project</button>
    <p id="del-err"></p> <!-- should not be required, but doesn't hurt to have anyway, in case something goes horribly wrong -->
{% endblock %}