{% extends "base.html" %}

{% block content %}
    <div>
        <h2><a href="/project/{{ project.slug }}">{{ project.title }}</a> / Log {{ log.number }}: {{ log.title }}</h2>
        <span>Created on: <span unix-utc="{{ log.created_on }}" hx-on:load="renderCreatedOn(this)"></span></span>
    </div>
    <hr>
    <div hx-trigger="load" hx-get="/uploads/{{ username }}/{{ project.slug }}/{{ log.number }}/index.html" class="log-content"></div>
    <hr>
    <button class="link" hx-post="/del/log/{{ project.slug }}/{{ log.number }}" style="color:red" hx-target="#del-err" hx-confirm="Are you sure?">Delete This Log</button>
    <p id="del-err"></p>
{% endblock %}