{% extends "base.html" %}

{% block content %}
    <h2>Logsday!!!</h2>
    {% if let Some(news) = news %}
        <hr>
        <h3>Recent Activity:</h3>
        <div class="flex-col">
            {% for n in news %}
                <!-- <div style="display: flex;"><a href="/u/{{ n.username }}">{{ n.displayname }}</a> / <a href="/u/{{ n.username }}/{{ n.project_slug }}">{{ n.project_title }}</a> / <a href="/u/{{ n.username }}/{{ n.project_slug }}/{{ n.log_number }}">Log {{ n.log_number }}: {{ n.log_title }}</a><span class="max-fill"></span><span class="date" unix-utc="{{ n.log_created_on }}" hx-on:load="renderCreatedOn(this)"></span></div> -->
                <div><a href="/u/{{ n.username }}">{{ n.displayname }}</a> / <a href="/u/{{ n.username }}/{{ n.project_slug }}">{{ n.project_title }}</a> / <a href="/u/{{ n.username }}/{{ n.project_slug }}/{{ n.log_number }}">Log {{ n.log_number }}: {{ n.log_title }}</a>    <span unix-utc="{{ n.log_created_on }}" hx-on:load="renderCreatedOn(this)"></span></div>
            {% else %}
                <div>So empty... Follow somebody and see their latest logs here!</div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    Explore users:
    {% for u in display_users %}
        <a href="/u/{{ u.username }}">{{ u.displayname }},</a>
    {% endfor %}
{% endblock %}