{% extends "base.html" %}

{% block content %}
    <h2>New Log for <a href="/project/{{ project.slug }}">{{ project.title }}</a></h2>
    <p id="err"></p>
    <form id="log-form" hx-post="/new/log/{{ project.slug }}" hx-target="#err">
        <div class="editor-top-bar">
            <div class="flex-col">
                <span>Title<sup style="color:red">*</sup></span>
                <input type="text" name="title" required>
            </div>
            <div class="flex-col">
                <span>Add Media</span>
                <input type="file" multiple name="media" accept="image/*, video/*" id="media-upload" onchange="uploadAndInsertMedia(this.files); this.value = '';">
            </div>
            <div class="flex-col">
                <span>Create Log</span>
                <button type="submit">Create Log</button>
            </div>
        </div>
        <div class="flex-col">
            <span>Uploaded files:</span>
            <div id="uploaded-files"></div>
        </div>
        <hr>
        <div class="workspace-split" id="drop-zone">
            <div class="pane">
                <label style="white-space: nowrap;">Content (Markdown)</label>
                <textarea name="content" id="markdown-input" placeholder="Write your devlog here..." required oninput="updatePreview(this)">{{ md_content }}</textarea>
            </div>
            <div class="pane">
                <label>Preview</label>
                <div id="markdown-preview" class="preview-box log-content"></div>
            </div>
            <div class="drag-overlay">Upload files</div>
        </div>
        <hr>
        <script>setupNewlogListeners()</script>
    </form>
{% endblock %}