{% extends "base.html" %}

{% block content %}
    <script>
        function checkFileSize(input) {
            const limit = 2 * 1024 * 1024; // 2MB
            if (input.files[0].size > limit) {
                alert("This file is too big! Please choose an image under 2MB.");
                input.value = ""; // Clear the input
            }
        }
    </script>

    <form hx-post="/new/project" hx-encoding="multipart/form-data" hx-target="#err">
        <input type="text" name="title" placeholder="Project Title" required>
        <input type="text" name="slug" placeholder="Project Slug"> <!-- TODO make it autofill with JS, unless a value is manually entered -->
        <textarea name="description"></textarea>
        
        <input type="file" name="thumbnail" accept="image/*" id="thumbnail-input" onchange="checkFileSize(this)">
        
        <button type="submit">Create Project</button>
    </form>
    <p id="err"></p>
{% endblock %}