{% extends "base.html" %}

{% block content %}
    <h2>Your Projects</h2>
    <a href="/new/project">New Project</a>
    <hr>
    <div class="project-list">
        {% for proj in projects %}
        <a class="project-listing" href="/project/{{ proj.slug }}">
            <img class="project-listing-thumb" src="/uploads/{{ user.username }}/{{ proj.slug }}/thumb.webp">
            <p>{{ proj.title }}</p>
            <span class="date">Created on: <span unix-utc="{{ proj.created_on }}" hx-on:load="renderCreatedOn(this)"></span></span>
        </a>
        {% else %}
        <p>So empty...</p>
        {% endfor %}
    </div>
    <hr>
{% endblock %}