{% extends "base.html" %}

{% block content %}
    <div style="display:flex;flex-direction:row;gap:1rem;">
        <img src="/uploads/{{ user.username }}/{{ project.slug }}/thumb.webp" alt="project thumbnail" class="view-project-thumb">
        <div>
            <h2><a href="/u/{{ user.username }}">{{ user.displayname }}</a> / {{ project.title }}</h2>
            <span>Created on: <span unix-utc="{{ project.created_on }}" hx-on:load="renderCreatedOn(this)"></span></span>
            <div hx-trigger="load, refreshLikes from:body" hx-get="/like/project/{{ project.uid }}"></div>
        </div>
    </div>
    <div>{{ project.description }}</div>
    {% if owner %}
        <br>
        <a href="/new/log/{{ project.slug }}">New Log</a>
    {% endif %}
    <hr>
    <div class="log-list">
        {% for log in logs %}
            <a class="log-listing" href="/u/{{ user.username }}/{{ project.slug }}/{{ log.number }}">
                <p>Log {{ log.number }}: </p>
                <p>{{ log.title }}</p>
            </a>
        {% else %}
            {% if owner %}
                <p>So empty... Get chopping!</p>
            {% else %}
                <p>So empty... Not a single tree in sight!</p>
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    {% if owner %}
        <button class="link" hx-post="/del/project/{{ project.slug }}" style="color:red" hx-target="#del-err" hx-confirm="Are you sure?">Delete This Project</button>
        <p id="del-err"></p> <!-- should not be required, but doesn't hurt to have anyway, in case something goes horribly wrong -->
    {% endif %}
{% endblock %}