{% extends "base.html" %}

{% block content %}
    <div>
        <div style="gap:1rem;" class="flex-row">
            <img src="/uploads/{{ user.username }}/pfp.webp" alt="user profile picture" class="view-project-thumb">
            <div>
                <h2>{{ user.displayname }} ({{ user.username }})</h2>
                <p>Joined on: <span unix-utc="{{ user.created_on }}" hx-on:load="renderCreatedOn(this)"></span></p>
                {% if user.week_len == 7 %}
                    <p>Logsday on {{ self::get_weekday_name(*user.logsday_weekday) }}</p>
                {% else %}
                    <p>Logsday between {{ self::get_weekday_name(user.logsday_weekday-1) }} and {{ self::get_weekday_name(*user.logsday_weekday) }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div hx-trigger="load, refreshLikes from:body" hx-get="/like/user/{{ user.uid }}"></div>
    {% if let Some(following) = following %}
        <br>
        {% if following %}
            <button hx-post="/unfollow/{{ user.username }}" hx-swap="none" style="color: red;">Unfollow</button>
        {% else %}
            <button hx-post="/follow/{{ user.username }}" hx-swap="none">Follow</button>
        {% endif %}
    {% endif %}
    {% if owner %} <br> <a href="/new-project">New Project</a> {% endif %}
    <hr>
    <div class="project-list">
        {% for proj in projects %}
            {% if proj.listed || owner %}
                <a class="project-listing" href="/u/{{ user.username }}/{{ proj.slug }}">
                    <img class="project-listing-thumb" src="/uploads/{{ user.username }}/{{ proj.slug }}/thumb.webp">
                    <p>{{ proj.title }}</p>
                    <span class="date">Created on: <span unix-utc="{{ proj.created_on }}" hx-on:load="renderCreatedOn(this)"></span></span>
                </a>
            {% endif %}
        {% else %}
            <!-- I know this doesn't trigger when there's 0 listed projects and >0 unlisted. I don't care. If 1 person complains about it, I'll fix. -->
            <p>So empty...</p>
        {% endfor %}
    </div>
    <hr>
{% endblock %}