<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logsday</title>
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <!-- <link rel="icon" type="image/x-icon" href="/static/favicon.ico"> -->
</head>
<body>
    <nav class="navbar">
        <a class="navitem" href="home">Home</a>
        <a class="navitem" href="explore">Explore</a>
    </nav>
    
    <main>
        <div class="project-banner">
            <img class="project-thumbnail" src="favicon.ico" alt="project thumbnail">
            <span></span>
            <a class="link" href="/profile/momong">Momong</a>
            <span>/</span>
            <span class="text">Logsday</span>
            <span class="date">Created: May 9, 2026</span>
        </div>

        <div class="update-listing">
            <span class="text-muted">Update:</span>
            <span class="text">So, I started using AI. Where do I go from here?</span>
            <span class="date">May 9, 2026</span>
        </div>

        <div class="update-listing">
            <span class="text-muted">Update:</span>
            <span class="text">I love Rust</span>
            <span class="date">May 9, 2026</span>
        </div>

        <div class="log-listing">
            <img class="log-listing-thumbnail" src="favicon.ico" alt="log thumbnail">
            <span class="text-muted">Log 1:</span>
            <span class="text">Just started on this new project called logsday! Very excited!</span>
            <span class="date">May 9, 2026</span>
        </div>
    </main>
</body>
</html>